*{
    margin: 0%;
    padding: 0%;

}
body{
    background-image: url(pic1.jpg);
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    background-size: cover;
    text-align: left;
}
 .navbar{
   width: 1200px;
    height: 80px;
    margin: 30px;

 }
 /* .icon{
    float: left;
    height:70px;
    width: 250px;

 } */
 /* .logo{
    color: #25F610 ;
    padding-left: 22px;
    padding-top: 10px;
    font-size: 36px;
    float: left;

 } */
 .menu{
    height: 50px;
    width: 400px;
    float: left;
 }
 ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
  
    
 }
 ul li{
     list-style:none ;
     margin-left: 65px;
     margin-top: 24px;
     font-size: 19px;
 }
 ul li a{
    color: beige;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    transition: 0.5s ease-in-out;
 }
 ul li a:hover{
    color: #EFE20A;
}
.search{
    width: 330px;
    float: right;
    margin-top: 22px;
    
}
.srch{
    width: 200px;
    height: 30px;
    border-radius: 40px;
    border: none;
    background: transparent;
    font-size: 15px;
    float: left;
    color: #fff;
}

.btn{ 
    padding: 5px;
    background-color:#0AEFCF ;
    border: none;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    border-radius: 10px;
}
 
.content{
    height: auto;
    width: 700px;
    margin-bottom: 50px;
    padding-bottom: 30px;
    color: bisque;
}
#rd{
    /* padding:50px; */
    padding-top: 150px;
    margin-top :50px;
    padding-left: 110px;
    font-size: 100px;
    
    
   
    
}
#rd2{
  float: left;
  width: 500px;
  margin-left:135px ;
  padding-left: 55px;
  padding-top: 10px;
  font-size:80px ;
}

.subject{
    color: #0BEDE6;
    float: left;
    margin-top: 50px;
   
    padding: 50px;
    float: left;
    
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn2{
    width: 150px;
    height: 50px;
    float:left;
    margin:306px;
    margin-top: 0px;
    margin-right: 72px;
    background-color: #8CF708;
    font-size: 20px;
    font-family: Cambria;
    border: none;
    border-radius: 20px;
    cursor: pointer;

    
}
.btn2:hover{
    background-color: #A92A4F;
    
}
.form{
    width: 1200px;
    height: 500px;
    
    margin: 300px;
    margin-left: 735px;
    margin-top: -190px;
    padding-top: 50px;
    padding-left: 215px;
    font-size: 30px;
    color:greenyellow ;
    position: absolute;
    
}
#mail{
    margin: 20px;
    padding: 10px;
    font-size: 25px;
    color: #D0D3D4;
    /* border-bottom: 10px; */
    
    background: transparent;
}
#pass{
    margin: 20px;
    padding: 10px;
    font-size: 25px;
    color: #A92A4F;
    border: 10px;
    background: transparent;
}
.btn3{
    width: 200x;
    margin: 20px;
    margin-left: 102px;
    padding: 20px 100px;
    background-color:#F08080 ;
    cursor: pointer;
}
input::placeholder{
    color:mediumturquoise;
    
}

